@import url("/home/alex/.cache/wal/alpha-colors.css");

@define-color bg @background;
@define-color bg2 @color0;
@define-color txt @color15;
@define-color primary @color1;
@define-color accent @color4;

* {
    font-family: Pangolin, sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: @txt;
    transition: 150ms;
}

window#waybar {
    background-color: @bg;
}

#custom-launcher,
#workspaces,
#clock,
#network,
#tray,
#pulseaudio {
    border: 1px solid @primary;
    border-radius: 8px;
    padding: 4px;
    background-color: transparent;
    margin: 5px;

}

#custom-launcher:hover,
#workspaces:hover,
#clock:hover,
#network:hover,
#tray:hover,
#pulseaudio:hover {
    background-color: @bg2;
    border-radius: 8px;
}

#workspaces button {
    color: @bg2;
}

tooltip {
    background-color: @bg2;
    border: 1px solid @accent;
    border-radius: 8px;
}
